<%- include("header.ejs") %>
<section id="main" class="ajut">
  <div class="px-4 my-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="/images/logo.png"
      alt=""
      width="100"
      height="100"
    />
    <h1 class="display-5 fw-bold text-body-emphasis projects-title">
      Mulțumim pentru Inimile Generoase
    </h1>
    <div class="col-lg-8 mx-auto">
      <p class="lead mb-4">
        Vă adresăm sincere mulțumiri pentru implicarea voastră activă și
        generozitatea pe care o arătați în sprijinul nostru. Comunitatea noastră
        se întărește prin contribuția fiecăruia dintre voi, iar fiecare gest de
        binefacere contează. Pentru cei dintre voi care doresc să sprijine
        proiectele noastre și prin intermediul formei fiscale, vă informăm că
        puteți direcționa 3.5% din impozitul pe venit către organizația noastră
        completând mai jos Formularul 230. Acest gest simplu, dar extrem de
        valoros, reprezintă o modalitate eficientă de a susține cauzele în care
        credeți, fără a implica costuri suplimentare pentru voi. Împreună putem
        face o diferență semnificativă în viețile celor nevoiași!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button
          type="button"
          class="btn btn-primary-pink-round btn-lg px-4 gap-3 mx-5 col-lg-4 col-sm-5"
          onclick="window.location.href='#formular-230'"
        >
          Completează formularul 230
        </button>
        <button
          type="button"
          class="btn btn-secondary-pink btn-lg px-4 mx-5 col-lg-4 col-sm-5"
          onclick="window.location.href='/donez'"
        >
          Donează
        </button>
      </div>
    </div>
  </div>
</section>
<% if (locals.pdf) { %>
<section id="formular-pdf">
  <iframe src="<%= pdf %>" style="width: 100%; height: 1200px" />/>
</section>
<% } else { %>
<section id="formular-230">
  <h2 class="projects-title">Formular 230</h2>
  <form
    class="row needs-validation"
    action="/cum-pot-ajuta"
    method="post"
    novalidate
  >
    <div class="col-12 col-sm-6 col-md-4 pb-2">
      <label for="nume" class="form-label">Nume</label>
      <input type="text" class="form-control" id="nume" name="nume" required />
      <div class="invalid-feedback">Completează câmpul cu numele tău.</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 pb-2">
      <label for="intiala" class="form-label">Inițiala tatălui</label>
      <input type="text" class="form-control" id="initiala" name="initiala" />
    </div>
    <div class="col-12 col-sm-6 col-md-4 pb-2">
      <label for="prenume" class="form-label">Prenume</label>
      <input
        type="text"
        class="form-control"
        id="prenume"
        name="prenume"
        required
      />
      <div class="invalid-feedback">Completează câmpul cu prenumele tău.</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 pb-2 has-validation">
      <label for="cnp" class="form-label">CNP</label>
      <% if (locals.cnpInvalid) { if(cnpInvalid){ %>
      <input
        type="text"
        class="form-control is-invalid"
        id="cnp"
        name="cnp"
        required
      />
      <% } else { %>
      <input type="text" class="form-control" id="cnp" name="cnp" required />
      <% } } else { %>
      <input type="text" class="form-control" id="cnp" name="cnp" required />
      <% } %>
      <div class="invalid-feedback">Completează câmpul cu CNP-ul tău.</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 pb-2">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" name="email" />
    </div>
    <div class="col-12 col-sm-6 col-md-4 pb-2">
      <label for="telefon" class="form-label">Telefon</label>
      <input type="text" class="form-control" id="telefon" name="telefon" />
    </div>
    <div class="col-12 col-sm-6 pb-2">
      <label for="localitate" class="form-label">Localitate</label>
      <input
        type="text"
        class="form-control"
        id="localitate"
        name="localitate"
        required
      />
      <div class="invalid-feedback">Completează câmpul cu localitatea ta.</div>
    </div>
    <div class="col-12 col-sm-6 pb-2">
      <label for="judet" class="form-label">Județ</label>
      <input
        type="text"
        class="form-control"
        id="judet"
        name="judet"
        required
      />
      <div class="invalid-feedback">Completează câmpul cu județul tău.</div>
    </div>
    <div class="col-12 col-sm-6 pb-2">
      <label for="strada" class="form-label">Strada</label>
      <input type="text" class="form-control" id="strada" name="strada" />
    </div>
    <div class="col-12 col-sm-6 pb-2">
      <label for="numar" class="form-label">Număr</label>
      <input type="text" class="form-control" id="numar" name="numar" />
    </div>
    <div class="col-12 pb-2 col-sm-6">
      <label for="signature-canvas" class="form-label">Semnătura</label>
      <div
        style="
          background-color: rgb(227, 227, 227);
          height: fit-content;
          width: fit-content;
          z-index: -1000;
        "
      >
        <canvas id="signature-canvas" name="signature"></canvas>
      </div>
      <% if (locals.semnaturaInvalida) { if(semnaturaInvalida){%>
      <input
        type="hidden"
        id="signature"
        name="signature"
        class="is-invalid"
        required
      />
      <% } else { %>
      <input type="hidden" id="signature" name="signature" required />

      <% } }else{%>
      <input type="hidden" id="signature" name="signature" />
      <% } %>
      <div class="invalid-feedback">Completează câmpul cu semnătura ta.</div>
    </div>
    <div class="clear-btn col-12 pb-2">
      <button type="button" id="clear" class="btn btn-primary-pink-round">
        Șterge semnătura
      </button>
    </div>
    <div class="form-check col-12 col-sm-6">
      <input class="form-check-input" type="radio" name="an" id="an" />
      <label class="form-check-label" for="an">
        Vreau să redirecționez timp de 1 an
      </label>
    </div>
    <div class="form-check col-12 col-sm-6">
      <input class="form-check-input" type="radio" name="an" id="ani" checked />
      <label class="form-check-label" for="ani">
        Vreau să redirecționez timp de 2 ani
      </label>
    </div>
    <div class="form-check col-12">
      <div class="col-12">
        <input class="form-check-input" type="checkbox" id="gdpr" required />
        <label class="form-check-label" for="gdpr">
          Sunt de acord cu prelucrarea datelor mele personale în conformitate cu
          Regulamentul (UE) 2016/679 privind protecția persoanelor fizice în
          ceea ce privește prelucrarea datelor cu caracter personal și privind
          libera circulație a acestor date și de abrogare a Directivei 95/46/CE
          (Regulamentul general privind protecția datelor)
        </label>
      </div>
      <div class="invalid-feedback">
        Trebuie să fii de acord cu prelucrarea datelor tale personale.
      </div>
    </div>
    <div class="form-check col-12" style="justify-content: flex-start">
      <input
        class="form-check-input"
        type="checkbox"
        id="emailAccept"
        name="emailAccept"
      />
      <label class="form-check-label" for="emailAccept">
        Sunt de acord să primesc emailuri de la Asociația Vă Ajutăm din Dej
      </label>
    </div>
    <div class="col-12 pb-2 submit-button-wrapper">
      <button
        type="submit"
        class="btn btn-primary-pink-round submit-button"
        id="save"
      >
        Generează și Trimite
      </button>
    </div>
  </form>
</section>
<% } %> <%- include("footer.ejs") %>
