<%- include("header.ejs") %>
<section id="main">
  <div
    class="container-fluid carousel-container bg-white"
    style="--bs-bg-opacity: 0.65"
  >
    <h1 class="header-title">Despre noi</h1>
  </div>
  <img
    src="images/carousel/landscape/carousel-img-2.jpg"
    class="d-block w-100 header-img"
    id="carousel-img-1"
    alt="..."
  />
</section>
<section id="about-us">
  <div class="px-4 my-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="/images/logo.png"
      alt=""
      width="100"
      height="100"
    />
    <h1 class="display-5 fw-bold text-body-emphasis projects-title">
      Cine suntem
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum
        magna magna, quis interdum dolor sodales dapibus. Vivamus sed rhoncus
        nunc. Quisque pulvinar nibh sed sapien efficitur, et auctor nulla
        volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices posuere cubilia curae; Nullam diam nisi, porttitor pellentesque
        congue non, lobortis ac quam. Ut vel cursus lacus. Duis eleifend ante eu
        mi venenatis, non feugiat dui scelerisque. Mauris interdum blandit felis
        id auctor. Ut dolor leo, elementum ac tincidunt quis, semper a urna.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button
          type="button"
          class="btn btn-primary-pink-round btn-lg px-4 gap-3 mx-5"
          onclick="window.location.href='/proiecte'"
        >
          Proiectele noastre
        </button>
        <button
          type="button"
          class="btn btn-secondary-pink btn-lg px-4 mx-5"
          onclick="window.location.href='/cum-pot-ajuta'"
        >
          Cum poți ajuta
        </button>
      </div>
    </div>
  </div>
</section>
<section id="obiective">
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom projects-title">Obiective</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="images/checkmark-32.png" height="20" width="20" />
        </div>
        <h3 class="fs-2 text-body-emphasis">Featured title</h3>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="images/checkmark-32.png" height="20" width="20" />
        </div>
        <h3 class="fs-2 text-body-emphasis">Featured title</h3>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="images/checkmark-32.png" height="20" width="20" />
        </div>
        <h3 class="fs-2 text-body-emphasis">Featured title</h3>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>
    </div>
  </div>
</section>
<%- include("footer.ejs") %>
