<%- include("header.ejs") %>
<section id="donez">
  <div class="px-4 my-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="/images/logo.png"
      alt=""
      width="100"
      height="100"
    />
    <h1 class="display-5 fw-bold text-body-emphasis projects-title">
      Dăruiește cu Inimă
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Bine ați venit pe Pagina de Donații, locul unde fiecare gest de
        generozitate contează și contribuie la construirea unui viitor mai bun
        pentru comunitatea noastră. Suntem profund recunoscători pentru
        susținerea voastră și pentru că ați ales să fiți alături de noi în
        misiunea de a aduce schimbări pozitive. Fiecare donație aduce cu sine
        promisiunea unui impact real în viețile celor nevoiași și în proiectele
        noastre dedicate dezvoltării comunitare. Prin generozitatea voastră,
        contribuiți la construirea unui mediu mai solidar și la oferirea de
        oportunități pentru cei aflați în dificultate. Vă invităm să explorați
        opțiunile de donare și să deveniți parte din povestea noastră de
        transformare. Fiecare contribuție, indiferent de mărime, este primită cu
        inima deschisă. Mulțumim că ați ales să faceți parte din echipa care
        aduce schimbarea în lumea noastră. Împreună putem face lucruri
        extraordinare!
      </p>
      <div class="donation-options-container">
        <h2 class="display-5 fw-bold text-body-emphasis donation-subtitle">
          Alege cu cat vrei sa contribui
        </h2>
        <div class="form-check recurent-form">
          <input
            class="form-check-input recurent-check"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Donație recurentă
          </label>
        </div>
        <button
          type="button"
          class="btn btn-primary-pink-round donation-option"
          onclick="redirectToDonationPage(200)"
        >
          200 RON
        </button>
        <button
          type="button"
          class="btn btn-primary-pink-round donation-option"
          onclick="redirectToDonationPage(100)"
        >
          100 RON
        </button>
        <button
          type="button"
          class="btn btn-primary-pink-round donation-option"
          onclick="redirectToDonationPage(50)"
        >
          50 RON
        </button>
        <button
          type="button"
          class="btn btn-primary-pink-round donation-option"
          onclick="redirectToDonationPage(25)"
        >
          25 RON
        </button>
        <button
          type="button"
          class="btn btn-primary-pink-round donation-option"
          onclick="redirectToDonationPage(10)"
        >
          10 RON
        </button>
        <button
          type="button"
          class="btn btn-primary-pink-round donation-option"
          onclick="redirectToDonationPage(-1)"
        >
          Altă sumă
        </button>
      </div>
    </div>
  </div>
  <script>
    function redirectToDonationPage(amount) {
      const recurrentCheck = document.querySelector(".recurent-check");
      let isReccurent = recurrentCheck.checked;
      console.log(isReccurent);
      switch (amount) {
        case 200:
          if (isReccurent) {
            window.open("https://buy.stripe.com/9AQ29LbOr8LI3qEfZ8", "_blank");
          } else {
            window.open(
              "https://donate.stripe.com/8wM3dP9Gj0fc8KY004",
              "_blank"
            );
          }
          break;
        case 100:
          if (isReccurent) {
            window.open("https://buy.stripe.com/dR64hTdWz7HE9P2bIR", "_blank");
          } else {
            window.open(
              "https://donate.stripe.com/fZeeWxbOrgea3qE147",
              "_blank"
            );
          }
          break;
        case 50:
          if (isReccurent) {
            window.open("https://buy.stripe.com/dR6cOpg4Hd1Y0es008", "_blank");
          } else {
            window.open(
              "https://donate.stripe.com/9AQ15H3hVbXUgdqcMO",
              "_blank"
            );
          }
          break;
        case 25:
          if (isReccurent) {
            window.open("https://buy.stripe.com/5kAbKl9Gj0fc0es4gn", "_blank");
          } else {
            window.open(
              "https://donate.stripe.com/dR6g0B19NbXUf9m8wx",
              "_blank"
            );
          }
          break;
        case 10:
          if (isReccurent) {
            window.open("https://buy.stripe.com/14k7u54lZaTQe5i14a", "_blank");
          } else {
            window.open(
              "https://donate.stripe.com/aEU3dP9Gj2nkf9m144",
              "_blank"
            );
          }
          break;
        default:
          if (isReccurent) {
            alert("Nu puteți face donații recurente pentru alte sume");
          } else {
            window.open(
              "https://donate.stripe.com/6oE8y9g4H7HE8KY9AF",
              "_blank"
            );
          }
          break;
      }
    }
  </script>
</section>
<%- include("footer.ejs") %>
