<%- include("header.ejs") %>
<section id="main">
  <div
    class="container-fluid carousel-container bg-white"
    style="--bs-bg-opacity: 0.65"
  >
    <h1 class="header-title">5 Motive Să Ajuți</h1>
  </div>
  <img
    src="images/carousel/landscape/carousel-img-2.webp"
    class="d-block w-100 header-img"
    id="carousel-img-1"
    alt="..."
  />
</section>
<section id="motive">
  <section class="pt-5 mt-5 motive-flex">
    <div class="motiv">
      <div class="motiv-text">
        <h1 class="fw-light projects-title">Impact Durabil</h1>
        <p class="lead text-body-secondary">
          Contribuția ta are un impact durabil, susținând proiecte și inițiative
          care aduc schimbări reale și pozitive în viețile celor nevoiași.
        </p>
      </div>
      <img src="/images/motive/Impact.webp" />
    </div>
    <div class="motiv">
      <div class="motiv-text">
        <h1 class="fw-light projects-title">
          Transparență și Responsabilitate
        </h1>
        <p class="lead text-body-secondary">
          Ne angajăm să fim transparenți în utilizarea resurselor primite și să
          răspundem în mod responsabil la încrederea pe care o acorzi,
          asigurându-te că sprijinul tău are un efect tangibil.
        </p>
      </div>
      <img src="/images/motive/Transparenta.webp" />
    </div>
    <div class="motiv">
      <div class="motiv-text">
        <h1 class="fw-light projects-title">Solidaritate în Comunitate</h1>
        <p class="lead text-body-secondary">
          Prin sprijinirea asociației noastre, te alături unei comunități de
          oameni care împărtășesc aceleași valori și se dedică împreună aducerii
          de îmbunătățiri în comunitatea noastră.
        </p>
      </div>
      <img src="/images/motive/Solidaritate.webp" />
    </div>
    <div class="motiv">
      <div class="motiv-text">
        <h1 class="fw-light projects-title">Proiecte Inovatoare</h1>
        <p class="lead text-body-secondary">
          Susținem proiecte inovatoare și soluții creative pentru a aborda
          provocările din comunitatea noastră, iar contribuția ta face posibile
          inițiative care pot schimba în bine starea lucrurilor.
        </p>
      </div>
      <img src="/images/motive/Proiecte.webp" />
    </div>
    <div class="motiv">
      <div class="motiv-text">
        <h1 class="fw-light projects-title">Recunoștință și Recompense</h1>
        <p class="lead text-body-secondary">
          În semn de recunoștință pentru sprijinul tău, ne străduim să oferim
          recompense și beneficii exclusive pentru susținătorii noștri, astfel
          încât să te simți cu adevărat parte din echipa noastră și alături în
          fiecare reușită.
        </p>
      </div>
      <img src="/images/motive/Recunostinta.webp" />
    </div>
  </section>
  <section id="call-to-action">
    <div class="px-4 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="/images/logo.png"
        alt=""
        width="100"
        height="100"
      />
      <h1 class="display-5 fw-bold text-body-emphasis projects-title">
        Ești gata să faci un bine?
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Acum că ai descoperit cinci motive puternice pentru a deveni parte a
          schimbării pozitive în comunitatea noastră, îți punem întrebarea: Ești
          gata să faci un bine? Fiecare gest de generozitate și fiecare donație
          reprezintă o cărămidă în construcția unui viitor mai bun pentru toți.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button
            type="button"
            class="btn btn-primary-pink-round btn-lg px-4 gap-3 mx-5"
            onclick="window.location.href='/donez'"
          >
            Donează
          </button>
          <button
            type="button"
            class="btn btn-secondary-pink btn-lg px-4 mx-5"
            onclick="window.location.href='/cum-pot-ajuta'"
          >
            Cum poți ajuta
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
<%- include("footer.ejs") %>
