<%- include("header.ejs") %>
<section id="obiective">
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom projects-title">Sponsori</h2>
  </div>
</section>
<%- include("footer.ejs") %>
