<%- include("header.ejs") %>
<section id="main" class="parteneri">
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom projects-title">Sponsori</h2>
  </div>
  <div class="sponsori-grid sponsori">
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/acdri.webp" alt="Acdri Lorama Grup" />
        <p class="noname"></p>
      </div>
    </a>
    <a href="https://arcese.com/en/">
      <div class="sponsor">
        <img src="/images/sponsori/Arcese.webp" alt="Arcese Transport" />
        <p>Arcese Transport</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/astrid.webp" alt="Astrid" />
        <p>Astrid</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/beton.webp" alt="SC Beton Poly SRL" />
        <p class="noname"></p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/cipri.webp" />
        <p>Cipri Stetco Building</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/comsport.webp" />
        <p>Comsport</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/cont.webp" />
        <p class="noname"></p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/eku.webp" />
        <p class="noname"></p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/electra.webp" />
        <p class="noname"></p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/focus.webp" />
        <p>Focus Global Plast</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/gabluc.webp" />
        <p class="noname"></p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/paniind.webp" />
        <p>PANIIND market</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/panne.webp" />
        <p>Panne Gusto</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/programma.webp" />
        <p class="noname"></p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/sameday.webp" />
        <p>Sameday</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/smedix.webp" />
        <p>SMEDIX</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/transkry.webp" />
        <p class="noname"></p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/trend.webp" />
        <p>Trend Furniture</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/ginco.webp" />
        <p>Ginco Pharm</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/gyulia.webp" />
        <p>Gyulia Fashion</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/lemnul.webp" />
        <p>Lemnul Verde</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/massa.webp" />
        <p class="noname"></p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/milenium.webp" />
        <p class="noname"></p>
      </div>
    </a>
    <a href="https://www.facebook.com/nordica.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/nordica.webp" alt="Nordica" />
        <p>Nordica</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/via.webp" />
        <p>via nova</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/x-win.webp" />
        <p class="noname"></p>
      </div>
    </a>
    <a href="https://www.facebook.com/profile.php?id=100083388660115">
      <div class="sponsor">
        <img src="/images/sponsori/Crampon.webp" />
        <p>CRAMPON MULTISERVICE</p>
      </div>
    </a>
    <a href="https://stahldach.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Stahldach.webp" />
        <p>STAHLDACH</p>
      </div>
    </a>
    <a href="https://www.facebook.com/SCSperaSH">
      <div class="sponsor">
        <img src="/images/sponsori/Spera.webp" />
        <p>Spera Sh</p>
      </div>
    </a>
    <a href="https://www.contessafashion.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Contessa.webp" />
        <p>Contessa</p>
      </div>
    </a>
    <a href="https://wellcode.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/WellCode.webp" />
        <p>WellCode</p>
      </div>
    </a>
    <a href="https://haracatering.com/">
      <div class="sponsor">
        <img src="/images/sponsori/Hara.webp" />
        <p>Hara Catering</p>
      </div>
    </a>
    <a href="https://cofetariabueno.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Bueno.webp" />
        <p>Cofetaria Bueno</p>
      </div>
    </a>
  </div>
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom projects-title">Parteneri</h2>
  </div>
  <div class="sponsori-grid parteneri">
    <a href="https://cluj.bancapentrualimente.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/banca.webp" />
        <p>Banca Regionala pentru Alimente Cluj</p>
      </div>
    </a>
    <a href="https://www.facebook.com/asociatia.animaproterra/">
      <div class="sponsor">
        <img src="/images/sponsori/Anima.webp" />
        <p>Asociația Anima Pro Terra</p>
      </div>
    </a>
    <a href="https://www.facebook.com/apdfdej/">
      <div class="sponsor">
        <img src="/images/sponsori/Dizabilitati.webp" />
        <p>Asociatia Persoanelor cu Dizabilitati Fizice Dej</p>
      </div>
    </a>
    <a href="https://www.facebook.com/ConfluenteSomesene">
      <div class="sponsor">
        <img src="/images/sponsori/Confluente.webp" />
        <p>Confluente Somesene</p>
      </div>
    </a>
    <a href="https://dumbrava-lui-patrocle.org/ro">
      <div class="sponsor">
        <img src="/images/sponsori/Dumbrava.webp" />
        <p>Asociatia Dumbrava lui Patrocle</p>
      </div>
    </a>
    <a href="">
      <div class="sponsor">
        <img src="/images/sponsori/spital.webp" />
        <p>Spitalul Municipal Dej</p>
      </div>
    </a>
    <a
      href="https://www.facebook.com/p/Asocia%C8%9Bia-Filantropic%C4%83-Doctor-Horea-M%C3%A2nzat-100064371985350/"
    >
      <div class="sponsor">
        <img src="/images/sponsori/Horea.webp" />
        <p>Asociația Dr. Horea Mânzat</p>
      </div>
    </a>
    <a href="https://cjcluj.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Cluj.webp" />
        <p>Consiliul Judetean Cluj</p>
      </div>
    </a>
    <a href="https://www.primariadej.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Dej.webp" />
        <p>Primaria Municipiului Dej</p>
      </div>
    </a>
    <a href="https://www.sajcluj.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Ambulanta.webp" />
        <p>Serviciul de Ambulanta al Judetului Cluj</p>
      </div>
    </a>
    <a href="https://www.crtscluj.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Transfuzie.webp" />
        <p>Centrul de transfuzie sanguina Cluj</p>
      </div>
    </a>
    <a href="https://gradinitapiticotdej.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Piticot.webp" />
        <p>Gradinita cu Program Prelungit Piticot Dej</p>
      </div>
    </a>
    <a href="https://paradisulpiticilor.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Paradisul.webp" />
        <p>Gradinita cu Program Prelungit Paradisul Piticilor Dej</p>
      </div>
    </a>
    <a href="https://gradinitajuniordej.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Junior.webp" />
        <p>Gradinita cu Program Prelungit Junior Dej</p>
      </div>
    </a>
    <a href="https://www.facebook.com/andrei.muresanu.colegiul/">
      <div class="sponsor">
        <img src="/images/sponsori/Colegiul.webp" />
        <p>Colegiul National Andrei Muresanu Dej</p>
      </div>
    </a>
    <a href="https://www.gscbrancusidej.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Brancusi.webp" />
        <p>Liceul Tehnologic Contantin Brancusi Dej</p>
      </div>
    </a>
    <a href="https://www.facebook.com/liceul.henricoandadej/">
      <div class="sponsor">
        <img src="/images/sponsori/Henri.webp" />
        <p>Liceul Teoretic Henri Coandă Dej</p>
      </div>
    </a>
  </div>
</section>
<%- include("footer.ejs") %>
