<%- include("header.ejs") %>
<section id="main" class="parteneri">
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom projects-title">Sponsori</h2>
  </div>
  <div class="sponsori-grid">
    <a href="https://arcese.com/en/">
      <div class="sponsor">
        <img src="/images/sponsori/Arcese.jpg" alt="Arcese Transport" />
        <p>Arcese Transport</p>
      </div>
    </a>
    <a href="https://www.facebook.com/nordica.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Nordica.jpg" alt="Nordica" />
        <p>Nordica</p>
      </div>
    </a>
    <a href="https://www.facebook.com/profile.php?id=100083388660115">
      <div class="sponsor">
        <img src="/images/sponsori/Crampon.jpg" />
        <p>CRAMPON MULTISERVICE</p>
      </div>
    </a>
    <a href="https://stahldach.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Stahldach.jpg" />
        <p>STAHLDACH</p>
      </div>
    </a>
    <a href="https://www.facebook.com/SCSperaSH">
      <div class="sponsor">
        <img src="/images/sponsori/Spera.jpg" />
        <p>Spera Sh</p>
      </div>
    </a>
    <a href="https://www.contessafashion.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Contessa.jpg" />
        <p>Contessa</p>
      </div>
    </a>
    <a href="https://wellcode.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/WellCode.jpg" />
        <p>WellCode</p>
      </div>
    </a>
    <a href="https://haracatering.com/">
      <div class="sponsor">
        <img src="/images/sponsori/Hara.jpg" />
        <p>Hara Catering</p>
      </div>
    </a>
    <a href="https://cofetariabueno.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Bueno.jpg" />
        <p>Cofetaria Bueno</p>
      </div>
    </a>
  </div>
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom projects-title">Parteneri</h2>
  </div>
  <div class="sponsori-grid parteneri">
    <a href="https://cluj.bancapentrualimente.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Alimente.png" />
        <p>Banca Regionala pentru Alimente Cluj</p>
      </div>
    </a>
    <a href="https://www.facebook.com/asociatia.animaproterra/">
      <div class="sponsor">
        <img src="/images/sponsori/Anima.jpg" />
        <p>Asociația Anima Pro Terra</p>
      </div>
    </a>
    <a href="https://www.facebook.com/apdfdej/">
      <div class="sponsor">
        <img src="/images/sponsori/Dizabilitati.jpg" />
        <p>Asociatia Persoanelor cu Dizabilitati Fizice Dej</p>
      </div>
    </a>
    <a href="https://www.facebook.com/ConfluenteSomesene">
      <div class="sponsor">
        <img src="/images/sponsori/Confluente.jpg" />
        <p>Confluente Somesene</p>
      </div>
    </a>
    <a href="https://dumbrava-lui-patrocle.org/ro">
      <div class="sponsor">
        <img src="/images/sponsori/Dumbrava.jpg" />
        <p>Asociatia Dumbrava lui Patrocle</p>
      </div>
    </a>
    <a
      href="https://www.facebook.com/p/Asocia%C8%9Bia-Filantropic%C4%83-Doctor-Horea-M%C3%A2nzat-100064371985350/"
    >
      <div class="sponsor">
        <img
          src="/images/sponsori/Horea.jpg"
          style="height: 100%; object-fit: contain"
        />
        <p>Asociația Dr. Horea Mânzat</p>
      </div>
    </a>
    <a href="https://cjcluj.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Cluj.jpg" />
        <p>Consiliul Judetean Cluj</p>
      </div>
    </a>
    <a href="https://www.primariadej.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Dej.png" />
        <p>Primaria Municipiului Dej</p>
      </div>
    </a>
    <a href="https://www.sajcluj.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Ambulanta.png" />
        <p>Serviciul de Ambulanta al Judetului Cluj</p>
      </div>
    </a>
    <a href="https://www.crtscluj.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Transfuzie.png" />
        <p>Centrul de transfuzie sanguina Cluj</p>
      </div>
    </a>
    <a href="https://gradinitapiticotdej.ro/">
      <div class="sponsor">
        <img
          src="/images/sponsori/Piticot.jpg"
          style="height: 90%; object-fit: contain"
        />
        <p>Gradinita cu Program Prelungit Piticot Dej</p>
      </div>
    </a>
    <a href="https://paradisulpiticilor.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Paradisul.jpg" />
        <p>Gradinita cu Program Prelungit Paradisul Piticilor Dej</p>
      </div>
    </a>
    <a href="https://gradinitajuniordej.ro/">
      <div class="sponsor">
        <img src="/images/sponsori/Junior.jpg" />
        <p>Gradinita cu Program Prelungit Junior Dej</p>
      </div>
    </a>
    <a href="https://www.facebook.com/andrei.muresanu.colegiul/">
      <div class="sponsor">
        <img src="/images/sponsori/Colegiul.png" />
        <p>Colegiul National Andrei Muresanu Dej</p>
      </div>
    </a>
    <a href="https://www.gscbrancusidej.ro/">
      <div class="sponsor">
        <img
          src="/images/sponsori/Brancusi.jpg"
          style="height: 90%; object-fit: contain"
        />
        <p>Liceul Tehnologic Contantin Brancusi Dej</p>
      </div>
    </a>
    <a href="https://www.facebook.com/liceul.henricoandadej/">
      <div class="sponsor">
        <img
          src="/images/sponsori/Henri.jpg"
          style="height: 100%; object-fit: contain"
        />
        <p>Liceul Teoretic Henri Coandă Dej</p>
      </div>
    </a>
  </div>
</section>
<%- include("footer.ejs") %>
